/* ---------------------------- game ---------------------------- */
.game {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.game .rules-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 2rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}
.game .rules-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.game .rules {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.game .rules header {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: -1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #302b63;
  font-size: 1.5rem;
  font-weight: bold;
}
.game .rules .close {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.game .rules .wrapper {
  width: 70%;
  height: 70%;
  padding: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: whitesmoke;
  color: black;
  overflow-y: scroll;
  text-align: justify;
}
.game .rules ul {
  padding-left: 0;
}
.game .rules ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
.game .rules img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.game > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 100vw;
}
.game > header .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}
.game > header .title {
  font-size: 2.5rem;
  margin: 0 3rem;
}
.game > header .title span {
  margin-right: 1.5rem;
}
.game > header i {
  padding: 1rem;
  margin-top: 0.6rem;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.5s, transform 0.5s;
}
.game > header i.disabled {
  color: #404055;
  pointer-events: none;
}
.game > header i:first-child:hover {
  color: #fbb400;
  transform: translateX(-0.5rem);
}
.game > header i:last-child:hover {
  color: #fbb400;
  transform: translateX(0.5rem);
}
.game > header .reset {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.5s;
}
.game > header .reset:hover {
  color: #fbb400;
}
.game > header .tile-size {
  padding: 0.25rem;
  font-family: "Bree Serif", "Font Awesome 6 Free";
  cursor: pointer;
}
.game > header .tile-size option {
  font-family: "Bree Serif", "Font Awesome 6 Free";
}
