/* ---------------------------- game ---------------------------- */
.game {
  margin: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.game .rules-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 2rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.game .rules-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.game .rules {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.game .rules header {
  position: relative;
  z-index: -1;
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: -1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #302b63;
  font-size: 1.5rem;
  font-weight: bold;
}

.game .rules .close {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.game .rules .close:hover {
  color: #b4b4b4;
}

.game .rules .wrapper {
  width: 70%;
  height: 70%;
  padding: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: whitesmoke;
  color: black;
  overflow-y: scroll;
  text-align: justify;
}

.game .rules ul {
  padding-left: 0;
}

.game .rules ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.game .rules img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.game header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 100vw;
}

.game header .title {
  font-size: 2.5rem;
  margin: 0 3rem 1rem 3rem;
}

.game header .title span {
  margin-right: 1.5rem;
}

.game header .buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
}

.game header .prev,
.game header .reset,
.game header .next {
  width: 28%;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.game header .prev {
  text-align: left;
}

.game header .reset {
  text-align: center;
}

.game header .next {
  text-align: right;
}

.game header .prev.disabled,
.game header .next.disabled {
  color: #898989;
  pointer-events: none;
}

.game header .prev:not(.disabled):hover,
.game header .reset:hover,
.game header .next:not(.disabled):hover {
  text-decoration: underline;
  color: #fbb400;
}

.grid {
  display: grid;
  align-content: space-between;
  justify-content: space-between;
  background-color: rgb(206, 206, 254);
  margin: 0 2rem 2rem 2rem;
}

.grid .tile {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: rgb(103, 129, 185);
}
