.grid.lines .tile .object {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 46, 52);
  width: 6rem;
  height: 6rem;
  transition: transform 0.25s linear;
  transform: rotate(0);
}

.grid.lines .tile .object .mark {
  width: 6rem;
  height: 6rem;
  position: absolute;
  z-index: 1;
  transition: transform 0.25s linear;
  animation: 0.5s linear forwards animate_tile;
}

.grid.lines .tile .object .mark svg rect {
  fill: white;
  stroke-width: 1px;
}

.grid.lines .tile .object.connected .mark svg rect:last-child {
  fill: #fbb400 !important;
}
