.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(circle at center, #302b63, #0f0c29);
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 43rem;
  height: 100vh;
  position: relative;
}

.menu .lang {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}

.menu .title {
  margin: -1rem 2rem 2rem 2rem;
  font-size: 3rem;
  text-align: center;
}

.menu .option {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  padding: 1rem;
  margin: 0.75rem;
  background-color: #302b63;
  border: 1px solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s;
}

.menu .option.disabled,
.levels .level.disabled {
  background-color: #404055;
  pointer-events: none;
}

.menu .option.complete,
.levels .level.complete {
  background-color: #e57200;
}

.menu .option.complete:hover,
.levels .level.complete:hover {
  background-color: #924901;
  box-shadow: none;
}

.menu .option:not(.complete):hover,
.levels .level:not(.complete):hover {
  background-color: #201c48;
  box-shadow: none;
}

.menu .option svg {
  width: 2rem;
  height: 2rem;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  fill: white;
  stroke-width: 0.5rem;
  stroke: white;
  stroke-linejoin: round;
}

.menu .option i {
  margin-right: 0.5rem;
}

.menu footer {
  font-size: 1.1rem;
  text-align: center;
  width: 100vw;
  height: 2rem;
  position: absolute;
  bottom: 0;
}

.menu footer a,
.menu footer a:visited {
  color: white;
}

.menu footer span {
  margin-right: 0.5rem;
}

.menu footer i {
  transition: transform 0.5s;
}

.menu footer a:hover i {
  transform: scaleX(-1);
}

.levels {
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding: 1rem;
  width: 32rem;
  max-width: 100vw;
  min-height: 100vh;
  grid-template-columns: repeat(5, 20%);
}

.levels header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-size: 3rem;
  grid-column-start: 1;
  grid-column-end: 6;
}

.levels header .title {
  width: 20rem;
  text-align: center;
}

.levels header i {
  padding: 1rem;
  margin-top: 0.6rem;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.5s, transform 0.5s;
}

.levels header i.disabled {
  color: #404055;
  pointer-events: none;
}

.levels header i:first-child:hover {
  color: #fbb400;
  transform: translateX(-0.5rem);
}

.levels header i:last-child:hover {
  color: #fbb400;
  transform: translateX(0.5rem);
}

.levels .level {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  max-width: 15vw;
  max-height: 15vw;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  background-color: #302b63;
  border: 1px solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s;
}
