.grid.squares .tile .object {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.4rem;
  position: relative;
  transition: transform 0.25s linear, top 0.5s linear, left 0.5s linear;
  transform: rotate(0);
  animation: 0.5s linear forwards animate_tile;
}

.grid.squares .tile .object.n {
  background-color: red;
}

.grid.squares .tile .object.r {
  background-color: #4c9efb;
}

.grid.squares .tile .object.h,
.grid.squares .tile .object.v {
  background-color: #8f00cc;
}

.grid.squares .tile .object.vr,
.grid.squares .tile .object.hr {
  background-color: #794d1e;
}

.grid.squares .tile .object.vh {
  background-color: #29ac15;
}

.grid.squares .tile .object.vhr {
  background-color: #ff8400;
}

.grid.squares .tile .object.grabbed {
  z-index: 10;
  transition: transform 0.25s linear, top 0s, left 0s !important;
}

.grid.squares .tile .object.grabbed .connections > div > div {
  border: 1px solid black !important;
}

/* ----------- object shadow ----------- */
.grid.squares .tile .object .shadow {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.4rem;
  background-color: rgb(30, 30, 30);
  position: absolute;
  z-index: -1;
  transition: transform 0.25s linear;
  transform: translate(0, 0.2rem);
  animation: 0.5s linear forwards animate_tile_shadow;
}

/* ----------- object mark ----------- */
.grid.squares .tile .object .mark {
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 1;
  transition: transform 0.25s linear;
  animation: 1.5s linear forwards animate_mark;
}

.grid.squares .tile .object .mark svg > * {
  fill: white;
}

.grid.squares .tile .object .mark svg circle {
  stroke-width: 0.25rem;
}

.grid.squares .tile .object.n .mark svg circle {
  stroke: red;
}

.grid.squares .tile .object.r .mark svg circle {
  stroke: #4c9efb;
}

.grid.squares .tile .object.vr,
.grid.squares .tile .object.hr .mark svg circle {
  stroke: #794d1e;
}

.grid.squares .tile .object.vhr .mark svg circle {
  stroke: #ff8400;
}

.grid.squares .tile .object .mark svg polygon {
  stroke-width: 0.5rem;
  stroke: white;
  stroke-linejoin: round;
}

/* ----------- object connections ----------- */
.grid.squares .tile .object .connections {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  background-color: inherit;
  border: 2px solid rgb(30, 30, 30);
  position: relative;
  z-index: initial;
}

.grid.squares .object .connections > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.grid.squares .object .connections .bottom,
.grid.squares .object .connections .top {
  flex-flow: row;
  width: 4.5rem;
  height: 2rem;
  left: -2px;
}

.grid.squares .object .connections .bottom {
  bottom: calc(-0.95rem - 1px);
  animation: 2s linear forwards animate_bottom_connections;
}

.grid.squares .object .connections .top {
  top: -0.95rem;
  animation: 2s linear forwards animate_top_connections;
}

.grid.squares .connections .connection {
  margin: 0.25rem;
  background-color: white;
  border: 2px solid black;
  transition: transform 0.25s linear;
}

.grid.squares .connections .bottom div,
.grid.squares .connections .top div {
  width: 0.5rem;
  height: 2rem;
}

.grid.squares .object .connections .left,
.grid.squares .object .connections .right {
  flex-flow: column;
  width: 2rem;
  height: 4.5rem;
  top: -2px;
}

.grid.squares .object .connections .left {
  left: calc(-0.95rem - 0.5px);
  animation: 2s linear forwards animate_left_connections;
}

.grid.squares .object .connections .right {
  right: calc(-0.95rem - 1px);
  animation: 2s linear forwards animate_right_connections;
}

.grid.squares .connections .left div,
.grid.squares .connections .right div {
  width: 2rem;
  height: 0.5rem;
}

/* ----------- object animations ----------- */
@keyframes animate_tile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animate_tile_shadow {
  from {
    transform: scale(0) translate(0, 0.2rem);
  }
  to {
    transform: scale(1) translate(0, 0.2rem);
  }
}

@keyframes animate_top_connections {
  0% {
    transform: translateY(0.95rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0.95rem);
    opacity: 0;
  }
  66% {
    transform: translateY(0.95rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate_bottom_connections {
  0% {
    transform: translateY(-0.95rem);
    opacity: 0;
  }
  50% {
    transform: translateY(-0.95rem);
    opacity: 0;
  }
  75% {
    transform: translateY(-0.95rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate_left_connections {
  0% {
    transform: translateX(0.95rem);
    opacity: 0;
  }
  50% {
    transform: translateX(0.95rem);
    opacity: 0;
  }
  75% {
    transform: translateX(0.95rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate_right_connections {
  0% {
    transform: translateX(-0.95rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-0.95rem);
    opacity: 0;
  }
  66% {
    transform: translateX(-0.95rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate_mark {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
