* {
  box-sizing: border-box;
  user-select: none;
  font-family: "Bree Serif", serif;
}

body {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  height: fit-content;
  margin: 0;
  padding: 0rem;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

.disclaimer {
  display: none;
}

.hidden {
  display: none !important;
}

body[lang="en"] .pl,
body[lang="pl"] .en {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(103, 129, 185); 
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 254); 
}
